{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {{ dump(invoice) }}
    {{ dump(terms) }}
<div id="invoice-block">
  <!-- app-invoice -->
  
  <!-- /app-invoice-->
</div>

{% endblock %}