{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    {{ dump(invoice) }}
    <div id="invoice-block">
        <!-- app-invoice -->

        <!-- /app-invoice-->
    </div>

{% endblock %}